# Amanda owns everything on this
*                   @amandabaran

/.github/           @depaulmillz @amandabaran
/cicd/              @depaulmillz @amandabaran
/cmake/             @depaulmillz

/include/           @amandabaran
/src/               @amandabaran
/tests/             @amandabaran
/tools/             @amandabaran
/protos/            @amandabaran
/scripts/           @amandabaran
/share/             @depaulmillz
/CMakeLists.txt     @depaulmillz @amandabaran

